.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.login-form-button {
  width: 100%;
}